.gallery {
  max-width:1440px;
  list-style:none;
}

.gallery li {
  width:470px;
  padding-left: 10px;
  padding-bottom: 10px;
  float: left;
}

.container-of-Gallery-item {
  background-color: rgb(230,230,230);
  display: inline-block;
  padding: 30px 83px 90px 83px;
}

.icons-container {
  display: block;
  background-color: rgba(155, 214, 244, 0.29);
  visibility: hidden;
}

.icons-container i{
  width: 49%;
  text-align: center;
  border-right: 1px solid #000000;
}

.icons-container i:last-child {
  border-right: 0px solid #000000;
}

.inner-container-item {
  width: 304px;
  height: 304px;
  background-color: #FFF;
  box-shadow: inset 0 0 4px #000000;
  position: relative;
}

img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
}

figcaption {
  color: red;
  text-align: center;
  display:block;
  width: 100%;
}


li:hover .icons-container,figure.icons-always-on .icons-container{
  visibility: visible;

}